@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 0;
	padding: 0;

	background-color: #f3f3f3;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.feed-container {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.feed-container header {
	height: 10%;
	width: 100%;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: blue; */
	margin-top: 50px;
	padding: 50px 125px;
}

.post-snippet header {
	margin: 0;
	padding: 0;
}

.user-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	transition: all 0.3s;
}

.user-info:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.user-info:hover .username {
	background-color: #d790b3;
	color: #05141a
}

.user-info .profilePicture {
	width: 70px;
	border-radius: 50%;
	z-index: 1;

	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.user-info .username {
	background-color: #05141a;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	color: #fafafa;

	height: 50px;
	width: 100%;

	letter-spacing: 2px;
	font-size: 1.2rem;
	font-weight: bold;

	padding-left: 40px;
	padding-right: 30px;

	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-left: -20px;

	display: flex;
	justify-content: center;
	align-items: center;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.3s;
}

header .action-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.action-control {
	position: relative;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.action-control:last-of-type {
	margin-right: 0;
}

.action-control i {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;

	border-radius: 50%;

	font-size: 1.3rem;
	width: 50px;
	height: 50px;

	background-color: #05141a;
	color: #fafafa;

	cursor: pointer;
	transition: all 0.3s;
}

.action-control span {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 140px;
	height: 40px;
	background-color: #05141a;
	color: #fafafa;
	letter-spacing: 2px;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;

	border-radius: 0 50px 50px 0;
	margin-left: -20px;
	padding-left: 20px;
	padding-right: 10px;

	transition: all 0.3s;
}

#trendingButton:hover span,
#trendingButton.active span {
	padding: 0;
	padding-left: 28px;
}

#recentButton:hover span,
#recentButton.active span,
#postButton:hover span,
#postButton.active span {
	padding: 0;
	padding-left: 25px;
}

.action-control:hover i,
.action-control:hover span,
.action-control.active i,
.action-control.active span {
	background-color: #d790b3;
	color: #05141a;
	transform: scale(1.3);
}

.action-control:hover span,
.action-control.active span {
	cursor: pointer;
}

.search-bar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar input {
	width: 200px;
	height: 40px;
	border-radius: 50px 0 0 50px;
	border: none;
	outline: none;
	padding-left: 20px;
	padding-right: 30px;
	font-size: 1rem;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
	margin-right: -20px;

	transition: all 0.3s ease-in-out;
}

.search-bar input:focus {
	width: 250px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.search-bar button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: #05141a;
	color: #fafafa;
	font-size: 1.3rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.search-bar button:hover {
	background-color: #d790b3;
	color: #05141a;
}

.post-container > div.active {
	display: grid;
}

.post-container > div {
	display: none;
	box-sizing: border-box;
	width: 80%;
	margin: 0 auto;
	padding: 50px 150px;

	grid-template-columns: 1fr 1fr; /* Two equal columns */
	gap: 20px; /* Gap between columns */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
}

.post-container > div.active.recent,
.post-container > div.active.trending,
.post-container > div.active.search-results {
	display: grid;
	grid-template-columns: 1fr 1fr; /* Two equal columns */
	gap: 20px; /* Gap between columns */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
}

.post-container > div.active.create-post {
	display: flex;
}

.post-snippet {
	text-decoration: none;
	box-sizing: border-box;
	background-color: white;
	color: #05141a;
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);

	display: flex;
	flex-direction: row;
	justify-content: center;

	width: 100%;
	height: 100%;

	padding: 20px;

    transition: all 0.3s;
}

.post-snippet:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.post-snippet aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 5%;
    height: 100%;

    margin-right: 20px;
}

aside button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    outline: none;

    font-size: .9rem;
    color: #05141a;

    transition: all 0.3s;
    margin-bottom: 10px;
}

aside button span {
    margin-right: 5px;
}

aside button:hover {
    color: #d790b3;
	cursor: pointer;
}

.snippet-proper {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.snippet-proper header {
    height: 20%;
	display: block;
}

.post-title {
	margin: 0;
    padding: 0;
	font-size: 1.3rem;
	font-weight: bold;
    text-align: left;
	color: #05141a;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-align: start;
	text-overflow: ellipsis;
}

.post-tag {
	margin: 0;
	margin-bottom: 5px;
	font-size: .8rem;
    text-align: left;
	white-space: nowrap;
}

.snippet-proper article {
    font-size: .9rem;
    text-align: left;
    color: #05141a;

    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.6;
    max-height: calc(3 * 1.8em);
    overflow: hidden;
    text-overflow: ellipsis;
}

.snippet-proper footer {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;

    border-top: 1px solid #05141a;

    font-weight: light;
    font-size: .9rem;

    width: 100%;
    color: #05141a;
}

.post-meta img {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;  
}

.author-meta {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;
}

.author-meta:hover {
    cursor: pointer;
    color: #d790b3;
}

.snippet-proper .post-item {
    background-color: transparent;
    border: none;
    outline: none;
    color: #05141a;

    transition: all 0.3s;
}

.snippet-proper .post-item i {
    margin-right: 5px;
}

.snippet-proper .post-item:hover {
    cursor: pointer;
    color: #d790b3;
}

#error {
	color: red;
	font-size: 1.2rem;
}

#error.hide {
	display: none;
}

/*  */

.create-post {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.create-post form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	margin-left: 40px;
	padding: 20px;
	width: 80%;
	height: 100%;
}

.create-post form p {
	margin: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
	color: #05141a;
}

.form-control {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 100%;
	width: 100%;

	margin-bottom: 20px;
}

.form-control label {
	height: 40px;
	width: 20%;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #05141a;
	color: #f5f5f5;
	letter-spacing: 2px;
	border-radius: 10px 0 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-control input {
	width: 80%;
	height: 40px;

	font-size: 1rem;

	border-radius: 0 10px 10px 0;

	background-color: white;
	border: 2px solid #05141a;
	outline: none;
	padding: 0 10px;
	
	transition: all 0.3s;
}

.form-control.body {
	display: flex;
	flex-direction: column;
}

.form-control.body label {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.form-control.body textarea {
	width: 100%;
	height: 250px;

	font-size: 1rem;

	background-color: white;
	border: 2px solid #05141a;
	border-radius: 0 0 10px 10px;
	resize: vertical;
	outline: none;
	padding: 10px;
}

.form-control input:focus,
.form-control textarea:focus {
	background-color: #fafafa;
}

.button-control {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.button-control button {
	width: 100px;
	height: 40px;

	letter-spacing: 2px;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;

	background-color: #05141a;
	color: #f5f5f5;
	border: none;
	border-radius: 10px;
	outline: none;

	transition: all 0.3s;
}

.button-control button:first-child {
	margin-right: 20px;
}


.button-control button:hover {
	cursor: pointer;
	background-color: #d790b3;
	color: #05141a;
}